.container{
  display: flex;
  align-items: center;
  flex-direction: column;

}

h2 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
}

h3 {
  font-size: 1rem;
  text-align: center;
  font-weight: 500
}
p{
  font-size: 1rem;
  padding: 1rem 3rem ;
}
button {
  width: 9rem;
  padding: 1.5rem;
  font-weight: 400;
  background-color: cornflowerblue;
  border-radius: 0.8rem;
  border: none;
  margin-bottom: 1rem;
}
