
<div class="container">
  <h2>ESPAÑA</h2>
  <h3>Madrid</h3>
  <p>Madrid, alegre y despierta a todas horas, es famosa por ser una ciudad abierta en la que se mezcla gente de todo tipo y de cualquier lugar.
  Además de sus conocidos museos, sus animadas avenidas con todo tipo de tiendas, sus restaurantes de cocinas del mundo o su vida nocturna incomparable, Madrid sorprende con tranquilos rincones históricos llenos de encanto por los que pasear, con centenarias tabernas castizas de tradición familiar en las que los amigos se encuentran para tomar algo, con barrios de todos los estilos y con centros culturales alternativos a los circuitos más turísticos. Madrid tiene una autenticidad difícil de igualar. Es hospitalaria y diversa. Madrid es, sin duda, una de las ciudades más interesantes de Europa.
  </p>
  <button>Mas Info!</button>
</div>

