.grid-container {

  display: grid;
  grid-template-areas:
  'header header header header header'
  'menu   main   main   main   main';

}
.grid-header{
  grid-area: header;


}

.grid-menu{
  grid-area: menu;
  background-color: rgba(230, 230, 250, 0.562);
}
.grid-contenido{
  grid-area: main ;


}
